*{
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: #191B1C;
  }

main {
  background-color: #0e0e0e;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 2;
  transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
  padding-bottom: 10%;
}

body[data-nav="true"] > main {
  transform: translateY(-60%);
}

a {
  text-decoration: none;
  color: #191B1C;
  overflow: hidden;
}

button {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* Font*/
.Montserrat-font {
    font-family: 'Montserrat', sans-serif;
  }

.Bangers-font {
    font-family: 'Bangers', sans-serif;
    letter-spacing: .5rem;
  }

/* Nav Button*/
#nav-toggle {
    height: 5rem;
    width: 5rem;
    position: fixed;
    z-index: 3;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    background-color: #edd918;
    border: none;
    border-radius: 5rem;
    outline: none;
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
    opacity: 1;
}

#nav-toggle:hover {
transform: translateX(-50%) scale(1.04);
}

#nav-toggle:active {
transform: translateX(-50%) scale(0.96);
}

body[data-nav="true"] > #nav-toggle {
background-color: #635daa;
}

body:not([data-nav="true"]) > #nav-toggle:hover > .open {
opacity: 1;
transform: translate(-50%, -50%) scale(1);
}

#nav-toggle > i {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) scale(0.9);
color: #0e0e0e;
font-size: 1.75rem;
opacity: 0;
transition: transform, opacity, color;
transition-timing-function: ease;
transition-duration: 400ms;
}

body[data-nav="true"] > #nav-toggle > .close {
opacity: 1;
transform: translate(-50%, -50%) scale(1);
color: white;
z-index: 99;
}

/*Back button*/
.backButton {
  height: 5rem;
  width: 5rem;
  position: fixed;
  z-index: 10;
  left: 3%;
  bottom: 3rem;
  background-color: #635daa;
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
  display: none;
}

.backButton i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: white;
  font-size: 1.75rem;
  transition: transform, opacity, color;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.backButton:hover {
  transform: scale(1.04);
}
  
.backButton:active {
  transform: scale(0.96);
}

/* Nav and Button interactions*/
nav {
    height: 50vh;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 50px;
    z-index: 1;
    overflow: hidden;
}

#nav-links {  
display: flex;
gap: clamp(1rem, 2vw, 2rem);
margin-top: clamp(2rem, 2vw, 3rem);
padding: 0rem clamp(1rem, 2vw, 2rem);
transform: translateY(70%) scale(0.9);
transition: transform 500ms cubic-bezier(.13,.53,.38,.97); 
}

body[data-nav="true"] > nav > #nav-links {
transform: translateY(0%) scale(1);
}

#nav-links > .nav-link {
text-decoration: none;
}

#nav-links > .nav-link > .nav-link-label {
color: white;
font-size: 1.25rem;
margin: 0rem;
text-transform: uppercase;
}

#nav-links > .nav-link > .nav-link-image {
width: max(20vw, 400px);
aspect-ratio: 2 / 1;
border-radius: 0.5rem;
margin-top: 0.75rem;
object-fit: cover;
}

#nav-links > .nav-link > .nav-link-image-mobile {
  display: none;
  }

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

.top {
  padding-top: 5%;
}

.hidden {
  opacity: 0;
  transition: all 500ms;
  border-radius: 0;
}

.show {
  opacity: 1;
  border-radius: 1rem ;
}

/* text */
.text p {
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 2%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.text_bold p {
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 2%;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

/*color*/
.yellow p{
  color: #edd918 !important;
}
/* Home Page*/

.Home {
  padding-left: 20px;
  padding-right: 20px;
}

.Home_Hero {
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 1% 1% 1% 1%;
  overflow: visible;
}

.Home_Hero a {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.Home_Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 20px;
  overflow: visible;
  padding: 1% 1% 1% 1%;
}


.Home_Grid a {
  width: 100%;
  height: 100%;
  overflow: visible;
  aspect-ratio: 1 / 1;
}

.Home_Grid img , .Home_Hero img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform, border-radius;
  transition-timing-function: ease;
  transition-duration: 400ms;

}

.Home_Grid img:hover , .Home_Hero img:hover{
  transform: scale(1.02);
}

.Home_Grid img:active , .Home_Hero img:active{
  transform: scale(0.98);
}

/* Works Pages */
.Home {
  height: 0;
  width: 0;
  opacity: 0;
  transition: height ,width, opacity;
  transition-timing-function: ease;
  transition-duration: 200ms;
}

.Home[data-page="true"] {
  height: auto;
  width: auto;
  opacity: 1;
}

.Home[data-page="true"] .imagePopUp{
  display: none;
}

.Home[data-page="true"] html {
  overflow: auto;
}

.Sandbox_Page,.Bloom_Page,.Adrik_Page
,.Petro_Page,.Chow_Page,.TC_Page
,.School_Page,.Personal_Page,.Home,.Contacts,.About_Me{
  height: 0;
  width: 0;
  opacity: 0;
  transition: height ,width, opacity;
  transition-timing-function: ease;
  transition-duration: 200ms;
}

.Sandbox_Page[data-page="true"],.Bloom_Page[data-page="true"],.Adrik_Page[data-page="true"]
,.Petro_Page[data-page="true"],.Chow_Page[data-page="true"],.TC_Page[data-page="true"]
,.School_Page[data-page="true"],.Personal_Page[data-page="true"],.Contacts[data-page="true"],.About_Me[data-page="true"]{
  height: auto;
  width: auto;
  opacity: 1;
}

.popupEnter {
  animation: 200ms fade-in ease-in;
}

.Works_Pages .imagePopUp {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 11;
  display: none;
  padding: 2%;
}

.Works_Pages .imagePopUp span{
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}

.Works_Pages .imagePopUp img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  object-fit: cover;
}

.Works_Pages .imagePopUp .overlay {
  width: 100%;
  height: 100%;
}

.pages {
  width: 70%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.Work_Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.Work_Grid img {
  aspect-ratio: 1 / 1;
}

.images img {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.Works_Pages .images img {
  cursor: pointer;
}

.Works_Pages .text {
  margin-top: 20px;
}

.header img {
  height: 500px;
}

.hello {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.videos video {
  margin-top: 20px;
  border-radius: 1rem;
  object-fit: cover;
  width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.spacer {
  padding: 20px 0 20px 0;
}
/* Contacts and About Me */
.grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  gap: 25px;
}

.links p:hover {
  color: #edd918;
}

.link_icons i{
 color: #635daa;
 margin-left: 10px;
 font-size: 40px;
}

.info img {
  aspect-ratio: 1/ 1;
  width: 300px;
  border-radius: 200rem;
}

/* Animations */

@keyframes fade-in {
  from { opacity: 0;}
  to {opacity: 1;}
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
      max-width: 1280px;
    }

    .header img {
      height: 400px;
    }
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }

    .header img {
      height: 300px;
    }

    #nav-links > .nav-link > .nav-link-image {
      width: max(20vw, 300px);
      }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
    .header img {
      height: 250px;
    }

    main {
      padding-bottom: 15%;
    }

    #nav-links > .nav-link > .nav-link-image {
      display: none;
    }
      
    #nav-links > .nav-link > .nav-link-image-mobile {
      width: max(20vw, 200px);
      aspect-ratio: 1 / 1;
      border-radius: 0.5rem;
      margin-top: 0.75rem;
      object-fit: cover;
      display: block;
    }

    .Works_Pages .imagePopUp img {
      height: 85%;
      width: 95%;
      object-fit: contain !important;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }

    main {
      padding-bottom: 20%;
    }

    .Home_Hero {
      grid-template-columns: 1fr;
      padding-bottom: 20px;
    }

    .Home_Grid {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .pages {
      width: 80%;
    }

    .grid_2 {
      grid-template-columns: 1fr;
    }

    #nav-links > .nav-link > .nav-link-label {
      color: white;
      font-size: .75rem;
      margin: 0rem;
      text-transform: uppercase;
      }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }

    .pages {
      width: 90%;
    }

    main {
      padding-bottom: 25%;
    }

    nav {
      bottom: 45px;
    }

    #nav-links > .nav-link > .nav-link-image-mobile {
      width: max(20vw, 175px);
    }

    .Work_Grid {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    .info img {
      aspect-ratio: 1/ 1;
      width: 200px;
      border-radius: 200rem;
    }
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
      width: 100%;
    }
    main {
      padding-bottom: 35%;
    }

    #nav-links > .nav-link > .nav-link-image-mobile {
      width: max(20vw, 150px);
      aspect-ratio: 1 / 1;
    }
  }

  @media (max-width: 320px) {
    main {
      padding-bottom: 50%;
    }
  }