*{
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: #0e0e0e;
  }

a {
  text-decoration: none;
}

img:hover{
  cursor: pointer;
}

.images {
  overflow: hidden;
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/*Text*/
.Montserrat-font {
  font-family: 'Montserrat', sans-serif;
  color: #faef43;
  list-style: square;
  margin: 0;
}

.Anton-font {
  font-family: 'Anton', sans-serif;
  color: #faef43;
  list-style: square;
}

.normal {
  font-size: 1.2rem;
}

.small {
  font-size: .75rem;
}

.mini {
  font-size: 0.55rem;
}

.large {
  font-size: 2rem;
}

i {
  color: #faef43;
}

/*Home Grids*/
.Top_Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.Middle_Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  gap: 10px;
}

.Bottom_Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.Middle_Bottom_Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

/*Home CSS*/
.Top_Grid p {
  margin: 10px 0 10px 0;
}

.border {
  border-top: #faef43 1px solid; 
  padding: 10px 0 10px 0;
}

.Main_Img {
  grid-column: span 3;
  aspect-ratio: 2 / 1;
  overflow: none;
}

.show {
  animation: fade-in 200ms fade-in;
}

.Works_List li {
  transition: color;
  transition-timing-function: ease;
  transition-duration: 100ms;
  margin-bottom: 10px;
}

.Works_List li:hover{
  color: #ffffff;
}

.Link_Icons i{
  margin-right: 20px;
}

.Link_Icons i:hover{
  transition: color;
  transition-timing-function: ease;
  transition-duration: 100ms;
  color: #ffffff;
}

.phone {
  margin-bottom: 20px;
}

.introduction {
  width: 100%;
  margin: 0 !important;
  overflow: hidden;
}

.introduction p {
  margin: 0 0 10px 0;
  text-align: justify;
}

.introduction img {
  aspect-ratio: 1.5 / 1;
  object-fit: cover;
}

.secondary {
  width: 100%;
  height: 100%;
}

.About {
  grid-column: span 2;
}

.missing img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.imagePopUp {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 11;
  display: none;
  padding: 2%;
}

.imagePopUp span{
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}

.imagePopUp img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  object-fit: contain;
}

.imagePopUp .overlay {
  width: 100%;
  height: 100%;
}

.popupEnter {
  animation: 200ms fade-in ease-in;
}

.introduction_Mobile {
  display: none;
}

.projects_Mobile {
  display: none;
}

/* Work Pages*/

.backButton {
  height: 5rem;
  width: 5rem;
  position: fixed;
  z-index: 10;
  left: 3%;
  bottom: 3rem;
  background-color: #faef43;
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.backButton i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: #0e0e0e;
  font-size: 1.75rem;
  transition: transform, opacity, color;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

.backButton:hover {
  transform: scale(1.04);
  background-color: #fff;
}
  
.backButton:active {
  transform: scale(0.96);
}


.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.Work_Page {
  padding-top: 5%;
  padding-bottom: 2%;
  width: 80%;
}

.Work_Page p {
  padding-bottom: 10px;
}
.header {
  aspect-ratio: 2 / 1;
}

.Work_Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.Work_Grid img {
  aspect-ratio: 1 / 1;
}

.spacer {
  margin: 2%;
}

/* Animations */
@keyframes fade-in {
  from { opacity: 0;}
  to {opacity: 1;}
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .normal {
    font-size: 0.85rem;
  }
  
  .small {
    font-size: .55rem;
  }
  
  .mini {
    font-size: 0.45rem;
  }
  
  .large {
    font-size: 1.25rem;
  }

  .Link_Icons i{
    margin-right: 10px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .normal {
    font-size: 0.65rem;
  }
  
  .small {
    font-size: .45rem;
  }
  
  .mini {
    font-size: 0.35rem;
  }
  
  .large {
    font-size: 1rem;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .normal {
    font-size: 0.85rem;
  }
  
  .small {
    font-size: .55rem;
  }
  
  .mini {
    font-size: 0.45rem;
  }
  
  .large {
    font-size: 1.25rem;
  }

  .Link_Icons i{
    margin-right: 10px;
  }

  .Top_Grid {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .Middle_Grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  
  .Bottom_Grid {
    display: block;
  }
  
  .Middle_Bottom_Grid {
    display: flex;
    flex-wrap: nowrap;
  }

  .introduction {
    display: none;
  }

  .introduction_Mobile {
    display: block;
    overflow: hidden;
  }

  .introduction_Mobile p {
    padding-bottom: 10px;
  }

  .projects {
    display: none;
  }

  .projects_Mobile {
    display: block;
  }

  .Link_Icons, .About ,.Skills {
    display: block;
    padding-bottom: 20px;
  }

  .missing img {
    aspect-ratio: 2 / 1;
  }

  .imagePopUp img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    object-fit: contain;
  }

  .Work_Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .spacer {
    margin: 5%;
  }

  .Work_Page {
    padding-bottom: 17%;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .Work_Page {
    padding-bottom: 32%;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  .Work_Page {
    padding-bottom: 35%;
  }
}

/* xxs */
@media (max-width: 320px) {
  .container {
    width: 100%;
  }

  .Work_Page {
    padding-bottom: 40%;
  }
}